# ================================
# BANCO DE DADOS (PRISMA)
# ================================

DATABASE_URL=postgresql://user:password@db:5432/database

# ================================
# CONFIGURAÇÃO DO BANCO
# ================================

DB_HOST=db
DB_PORT=5432
DB_NAME=database
DB_USER=user
DB_PASSWORD=password

# ================================
# API
# ================================

PORT=3000

# ================================
# AUTENTICAÇÃO (JWT)
# ================================

JWT_SECRET=secret
JWT_EXPIRES_IN=1d

# ================================
# ACTIVEMQ (opcional)
# ================================

ACTIVEMQ_URL=tcp://activemq:61616
ACTIVEMQ_USER=admin
ACTIVEMQ_PASSWORD=admin